{{define "title"}}FluxRPG Spell Book{{end}}


{{ define "header" }}
<div class="row">
  <div class="sixteen columns header_bottom">
    Spell List: A prettier header will come later
  </div>
</div>
<div class="row">
  <div class="sixteen columns header_bottom">
    Schools go Here
  </div>
</div>
<div class="row header_bottom">
  <div class="sixteen columns">
    Categories go Here
  </div>
</div>
{{ end }}


{{define "content"}}


<div class="row">
  <div class="sixteen columns">
    Content coming soon!
  </div>
</div>


<div class="row"> &nbsp; </div>
<div class="row"> &nbsp; </div>
<div class="row"> &nbsp; </div>

{{end}}
