<html>
        <head>
                <title>{{block "title" .}}No Title Set{{end}}</title>
                {{ block "base_css" .}}
                  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"  />
                  <link rel="stylesheet" type="text/css" href="/static/css/core.css"  />
                  <link rel="stylesheet" type="text/css" href="/static/css/base.css"  />
                {{end}}
                {{ block "css" .}}<!-- Extra CSS goes here -->{{end}}
                {{ block "scripts" .}} <!-- Scripts go here -->{{end}}
        </head>
        <body>
          <div class="container">
            <div class="header_row">
              <div class="row header_bottom">
                <div class="one columns">&nbsp;</div>
                <div class="thirteen columns">FluxRPG Spell Book</div>
                {{ if .Authenticated }}
                  <div class="two columns"><a href="/logout/">Log out</a></div>
                {{else}}
                  <div class="two columns"><a href="/login/">Log In</a></div>
                {{end}}
                <!-- <div class="one columns">&nbsp;</div> -->
              </div>
            </div>
            {{ block "header" .}}
            <div class="header_row">
              <div class="row header_bottom">
                <div class="one columns">&nbsp;</div>
                <div class="fourteen columns">Header Stuff Here</div>
                <div class="one columns">&nbsp;</div>
              </div>
            </div> <!-- End Header Block -->
            {{ end }} <!-- end header block -->
          <div class="contentblock">
          {{ block "content" .}}
          <div class="row">
            &nbsp;
          </div>
          <div class="row">
            &nbsp;
          </div>
          <div class="row">
            &nbsp;
          </div>
          <div class="row">
            &nbsp;
          </div>
          {{end}}<!-- end Content Block -->
        </div> <!--End contentblock div-->
          {{ block "footer" .}}
          <div class="row header_row footer_top">
            <div class="twelve columns">
              &nbsp;
            </div>
            <div class="four columns">
              Created by <a href="http://cagox.net/" target="_blank">Cagox</a>
            </div>
          </div>
          <div class="row header_row">
            <div class="twelve columns">
              &nbsp;
            </div>
            <div class="four columns">
              Powered By <a href="https://golang.org/" target="_blank">Go!</a>
            </div>
          </div>
          <div class="row header_row">
            <div class="twelve columns">
              &nbsp;
            </div>
            <div class="four columns">
              <a href="https://github.com/cagox/fluxspells" target="_blank">Get The Source</a>
            </div>
          </div>



          </div><!-- close container -->
          {{end}}





        </body>
</html>
